@import '../common/common.scss';

.left-nav {
  box-sizing: border-box;
  background-color: $bg-color;
  border-right: 1px solid $border-color;
  padding: 20px 20px 0 20px;
  height: calc(100vh - #{$footer-height} - #{$header-height});
  overflow-y: auto;
} 