@import '../common/common.scss';

.footer {
  border-top: 1px solid $border-color;
  display: grid;
  justify-content: center;
  position: fixed;
  background-color: $bg-color;
  align-items: center;
  height: $footer-height;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px;
  font-size: 14px;
}
