h3.title {
    background-color: black;
    color: white;
}

.navbar-brand {
    padding: 0%;
    padding-left: 15pt;
    padding-right: 15pt;
    width: 300px;
}

.navbar-brand img {
    display: inline;
}

.nav-item {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black!important;
}

.navbar-text {
  width: 300px;
  padding-right: 20px;
}
/* .active {
    background-color: lightgray;
} */
nav {
  max-height: 50px;
}

.form-signin {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  input#password.form-control.middle-place-form {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }


  html {
    position: relative;
    height: 100%;
  }
body {
    height: 100%;
  }
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  main{
    /* windows height - header height - footer height */
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  main .text-center{
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
  }
  
  main .text-center td{
    width: 300px!important;
    padding: 10px;
 
  }

  main table {
    max-width: 1000px;
  }

  main button {
    margin-top: 10px;
  }
  
  main textarea {
    margin-bottom: 10px;
  }

  main h1 {
    height: 49px;
  }

  #sidebar {
    z-index: 50;
    position: fixed;
    left: 250px;
    width: 250px;
    height: calc(100% - 100px);
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #f8f8f8;
    text-align: center;
  }

  #sidebar button {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left:  15px;
    margin-right:  15px;
    width: 220px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

   .text-primary td {
    color: black;
  }

  .text-primary th,
  .text-primary td {
    border: 1px solid black;
  } 
  
  td p {
    color: red;
    font-size: 15;
  }

  .profileForms {
    margin-left: 300px;
    overflow-x: auto;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .profileForms td {
    width: 450px;
    display: flex;
  }

  .profileForms tr td:nth-child(2) {
    width: unset;
  }

  .profileForms button.btn.fa {
    margin: 0;
  }

  .profileForms .form-control{
    width: calc(100% - 50px);
  }

  .profileForms .row {
   margin-bottom: 10px;
    width: 100%;
  }

  .btn-afterclicked {
    background-color: #0a4380;
    border-color: #0a4380;
    color:white;
  }

  .col {
    padding-top: 50px;
  }

  #userInfoBar {
    position: absolute; 
    z-index: 50; 
    padding: unset;
    background-color: #4C5261;
    color: white;
  }

  #userInfoBar .navbar-text{
    width: unset;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #userInfoBar .nav-item {
    font-size: unset;
  }

  #userInfoBar form {
    width: 320px;
    flex-wrap: nowrap;
  }

  #userInfoBar input {
    width: 100%;
  }

  #userInfoBar  input::placeholder{
    text-align: center;
  }

  #userInfoBar select,
  #userInfoBar input,
  #userInfoBar button {
    height: 30px;
    padding: 0px 5px;
    border: 0px;
  }

  #userInfoBar select {
    background-color: #d3d2d2;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #userInfoBar button {
    color: #4C5261;
    margin-left: -10px;
  }

  #userInfoBar .navbar-brand  {
    width: unset;
    font-size: unset;
    margin: 0;
    padding-right: 0px;
  }

  .notification {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    margin: 0px 5px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .notification:hover {
    background: white;
  }
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 5px;
    border-radius: 50%;
    background: white;
    color: #007bff;
  }

  #createSessionForm {
    margin-left: 260px;
  }

  #createSessionForm th{
    font-size: 15px;
    text-decoration: underline;
  }
  
  table a {
    text-decoration: underline;
  }

th {
    font-weight: unset;
}

.showPasswordButtons,
.hidePasswordButtons {
  margin: 0px!important;
  margin-left: -40px!important;
  z-index: 100;
  border: 0px;
}

.divToShow {
  position: fixed;
  font-size: small;
  background-color: #007bff;
  color: #f8f8f8;
  padding: 10px;
  opacity: 0.9;
}

input[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}