<div th:fragment="sidebar" id="sidebar" class="d-flex flex-column justify-content-between"  sec:authorize="hasRole('ROLE_ADMIN')">
    <h3 style="height: 33px;"> </h3>
    <div>
        <form th:action="@{/admin/createorg}" th:object="${createOrgForm}" method="get">
            <button class="btn btn-md btn-primary btn-block" th:classappend="${#httpServletRequest.requestURI == '/admin/createorg'}? 'btn-afterclicked':'btn-primary'" type="Submit">Create Organization</button>
        </form>
    
        <form th:action="@{/admin/browserepository}" th:object="${browseRepositoryForm}" method="get">
            <button class="btn btn-md btn-primary btn-block" th:classappend="${#httpServletRequest.requestURI == '/admin/browserepository'}? 'btn-afterclicked':'btn-primary'" type="Submit">Browse Repository</button>
        </form>
    
        <form th:action="@{/admin/emailorgs}" th:object="${emailOrgsForm}" method="get">
            <button class="btn btn-md btn-primary btn-block" th:classappend="${#httpServletRequest.requestURI == '/admin/emailorgs'}? 'btn-afterclicked':'btn-primary'" type="Submit">Email All Organizations</button>
        </form>  
    
        <form th:action="@{/admin/inactivateorg}" th:object="${inactivateOrgForm}" method="get">
            <button class="btn btn-md btn-primary btn-block" th:classappend="${#httpServletRequest.requestURI == '/admin/inactivateorg'}? 'btn-afterclicked':'btn-primary'" type="Submit">Inactivate an Organization</button>
        </form>
    
        <form th:action="@{/organization/orglogout}" th:object="${adminLoginForm}" method="get">
            <button class="btn btn-md btn-primary btn-block" type="Submit">Logout</button>
        </form>
    </div>

    <h3 style="height: 33px;"> </h3>

</div>