<div th:fragment="userInfoBar" sec:authorize="isAuthenticated()" class="d-flex justify-content-between container-fluid navbar"  id="userInfoBar">
    <form class="form-inline" style="margin-left: 36px;" id="searchForm">
        <select id="searchSelect" class="rounded-left">
            <option value="organization">Organization</option>
            <!-- <option>User</option> -->
            <option value="session"> Private Study</option>
        </select>
        <input class="mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchInput" list="searchList" autocomplete="off">
        <datalist id="searchList">

        </datalist>
        <button class="rounded-right" type="button" onclick="search()" id="searchButton"><i class="fa fa-search"></i></button>
    </form>

    <div class="d-flex navbar p-0">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/organization/getdraftsession" class="notification">
                    <span class="fa fa-book"></span>
                    <span class="badge" id="draftSessionCount"></span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav" hidden>
            <li class="nav-item">
                <a href="#" class="notification">
                    <span class="fa fa-bell-o"></span>
                    <span class="badge">0</span>
                </a>
            </li>
        </ul>
        <span>
          <a class="navbar-brand">
            <img th:src="@{/organization/download/profilePicture}" width="25px" height="25px" id="userInfobarProfileImage" class="profileImage rounded-circle"/>
          </a>
        </span>
        <div class="navbar-text">
            <span sec:authentication="name">Username</span>     
        </div>
    </div>

</div>