$header-height: 50px;
$footer-height: 50px;
$bg-color: #f8f9fa;
$or-panel-color: #f5f5f5;
$and-panel-color: #f0f0f0;
$bg-page: #789fdb;
$bg-page-on: #4373bb;
$border-color: #eeeef7;
$border-dark: #aaaaaa;
$add-icon: #3a7547;
$warning-color: #ce1a1a;

.space-top {
  margin-top: 5px;
}