
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head lang="en" th:include="fragments/header :: header">

    <head>
        <title>Dashboard Organization</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

<body>
    <div th:replace="fragments/title::nav"></div>
    <div th:replace="fragments/orgSidebar::orgSidebar"></div>
    <div th:replace="fragments/userInfoBar::userInfoBar"></div>
    <div id="deleteDraftSession-dialog-confirm" title="">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Do you want to continue with deleting this draft private study?</p>
    </div>
    <main role="main" style="margin-top: 42px;">
        <div class="text-center" style="margin-bottom: 50px;">
            <div class="text-primary" id="draftSessionForm">
                <p th:if="${draftSessionForm.isEmpty()}">No sessions found</p>
                <table th:unless="${draftSessionForm.isEmpty()}">
                    <tr>
                        <th>Private Study Name</th>
                        <th>About</th>
                        <th></th>
                    </tr>
                    <tr th:each="draftSessionForm , i: ${draftSessionForm}">
                        <td><a th:text="*{draftSessionForm.sessionName}" th:href="@{/organization/getdraftsession?sessionName=}+*{draftSessionForm.sessionName}"></a></td>
                        <td th:text="*{draftSessionForm.aboutSession}"></td>
                        <td>
                            <form th:action="@{/organization/deldraftsession}" method="POST">
                                <input name="sessionName" th:value="*{draftSessionForm.sessionName}" hidden/>
                                <button class="btn btn-danger fa fa-trash-o" type="button" onclick="deleteDraftSession(this)"></button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
    <div th:replace="fragments/footer::footer"></div>
</body>

</html>