<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head lang="en" th:include="fragments/header :: header">

<body>
    <div th:replace="fragments/title::nav"></div>
    <main>
        <!--
        BEWARE: THIS FILE IS PROCESSED BY SPRING SECURITY, HENCE NAMING (IS PRECONFIGURED) SHOULD NOT BE CHANGED
        -->
        <div class="text-center">
            <form th:action="@{/login}" method="POST" class="form-signin justify-content-center">
                <h1 class="h5 mb-3 font-weight-normal">Sign in</h1>
                <table>
                    <tr>
                        <td></td>
                        <td><input type="text" id="user_name" name="user_name" placeholder="Login ID"
                                class="form-control" required autofocus /> </td>
                        <td>
                            <div align="center" th:if="${param.error}">
                                <p style="font-size: 15;color: #FF1C19;">invalid credentials</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="d-flex"><input type="password" th:placeholder="Password" id="password" name="password"
                                class="form-control" style="margin-bottom: 0;" /> 
                            <button type="button" class="btn btn-outline-dark fa fa-eye showPasswordButtons" id="showPasswordButton" onclick="showPassword(this)"></button>
                            <button type="button" class="btn btn-outline-dark fa fa-eye-slash hidePasswordButtons" id="hidePasswordButton" onclick="hidePassword(this)" style="display: none;"></button>
                            </td>
                        <td></td>
                    </tr>
                </table>
                <button class="btn btn-primary" name="Submit" value="Login" type="Submit" th:text="LOGIN"></button>
            </form>
            <a th:href="@{/forgot}"> forgot password</a></br>
            <a href=https://www.stealthsoftwareinc.com/contact.html> create new account </a>

        </div>
    </main>
    <div th:replace="fragments/footer::footer"></div>
</body>

</html>