<html>
    <head lang="en" th:include="fragments/header :: header"> </head>
<head>
   		<title>Dashboard Organization</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <div th:replace="fragments/title::nav"></div>
        <main>
           <div class="text-center">
                <h1 class="h3 mb-3 font-weight-normal" ></h1>
            </div>
            <div class="text-center">
                <form action="#" th:action="@{/forgot}" th:object="${forgotForm}" method="post" class="form-signin justify-content-center">
                <table>
                    <tr>
                        <td></td>
                        <td><input type="text" id="user_name" name="email" placeholder="Enter the Email" th:field="*{email}" 
                            class="form-control" required autofocus/> </td>
                        <td>
                            <p style="font-size: 15;color: #FF1C19;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</p>
                        </td>
                    </tr>
                </table>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="text-center">
                <h1 class="h3 mb-3 font-weight-normal" ></h1>
            </div>
        </main>
	    <div th:replace="fragments/footer::footer"></div>
    </body>
</html>
