<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head lang="en" th:include="fragments/header :: header"> </head>

<head>
    <title>Post Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div th:replace="fragments/title::nav"></div>
    <main>
        <div class="text-center">
            <h1 class="h3 mb-3 font-weight-normal"></h1>
        </div>
        <div class="text-center">
            <p style="color: #007bff;">
                You will get email, with credentials, in few minutes
            </p>
            <p>
                <form action="/">
                    <button type="submit" class="btn btn-primary">Home</button>
                </form>
            </p>
        </div>
        <div class="text-center">
            <h1 class="h3 mb-3 font-weight-normal"></h1>
        </div>
    </main>
</body>

</html>