<!DOCTYPE HTML>
<html>

<head lang="en" th:include="fragments/header :: header">

    <head>
        <title>Dashboard Admin</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

<body>
    <div th:replace="fragments/title::nav"></div>
    <div th:replace="fragments/sidebar::sidebar"></div>
    <!-- <div th:replace="fragments/userInfoBar::userInfoBar"></div> -->
    <main role="main">
        <div class="text-center">
            <h1 class="h3 mb-3 font-weight-normal" ></h1>
        </div>
        <div class="text-center">
            <form action="#" th:action="@{/admin/createorg}" th:object="${createOrgForm}" method="post"
                class="justify-content-center">
                <table>
                    <tr>
                        <td>Organization Name: </td>
                        <td><input type="text" th:field="*{orgName}"  class="form-control"
                                required autofocus /> </td>
                        <td><p th:if="${#fields.hasErrors('orgName')}" th:errors="*{orgName}">OrgName Error</p></td>
                    </tr>
                    <tr>
                        <td>Organization Email:</td>
                        <td><input type="text" th:field="*{orgEmail}" 
                            class="form-control"/> </td>
                        <td><p th:if="${#fields.hasErrors('orgEmail')}" th:errors="*{orgEmail}">OrgEmail Error</p></td>
                    </tr>
                    <tr>
                        <td>Login Id:</td>
                        <td><input type="text" th:field="*{loginId}" 
                            class="form-control"/> </td>
                        <td><p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">loginId Error</p></td>
                    </tr>
                </table>
                <button class="btn btn-primary"  type="Submit" th:text="Submit"></button>
            </form>
        </div>
        <div class="text-center">
            <h1 class="h3 mb-3 font-weight-normal" ></h1>
        </div>
    </main>        

	<div th:replace="fragments/footer::footer"></div>
    </body>
</html>