<!DOCTYPE HTML>
<html>

<head lang="en" th:include="fragments/header :: header">

<body>
    <div th:replace="fragments/title::nav"></div>
    <div th:replace="fragments/sidebar::sidebar"></div>
    <!-- <div th:replace="fragments/userInfoBar::userInfoBar"></div> -->
    <main role="main">        
        <div class="text-center">
            <h1 class="h3 mb-3 font-weight-normal" ></h1>
        </div>
        <div class="text-center">
            <form action="#" th:action="@{/admin/emailorgs}" th:object="${emailOrgForm}" method="post"
                class="form-signin justify-content-center">
                <textarea rows = "5" cols = "60" th:field="*{message}" placeholder="message" class="form-control" >
                 </textarea>
                <p th:if="${#fields.hasErrors('message')}" th:errors="*{message}" style="font-size: 15;color: #FF1C19;font-weight: bold;">Message Error</p>
                <button class="btn btn-primary"  type="Submit"
                        th:text="Submit"></button>
            </form>
        </div>
        <div class="text-center">
            <h1 class="h3 mb-3 font-weight-normal" ></h1>
        </div>
    </main>
 
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>
 