<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head lang="en" th:include="fragments/header :: header">

	<head>
		<title>Dashboard Admin</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

<body>
	<div th:replace="fragments/title::nav"></div>
	<div th:replace="fragments/sidebar::sidebar"></div>
    <!-- <div th:replace="fragments/userInfoBar::userInfoBar"></div> -->
	<main class="main">
        <div class="text-center">
        	<h1 class="h3 mb-3 font-weight-normal" ></h1>
        </div>
		<div class="text-center">
			<div class="text-primary" th:utext="${successMessage}"></div>
		</div>
        <div class="text-center">
            <h1 class="h3 mb-3 font-weight-normal" ></h1>
        </div>
	</main>
	<div th:replace="fragments/footer::footer"></div>
</body>

</html>