@import '../common/common.scss';

.analyst-view {
  padding: 20px 20px 0 12px;
  display: grid;
  grid-template-columns: auto 400px;
  .top-spacing {
    margin-top: 10px;
  }
  .pad-top {
    padding-top: 5px;
  }
  .left-spacing {
    margin-left: 5px;
  }
  .left-spacing-big {
    margin-left: 10px;
  }
  .controls-panel {
    height: calc(100vh - 150px);
    overflow-y: auto;
  }
  select, input {
    padding: 3px 5px;
    font-size: 16px;
  }
  .major-section {
    border-bottom: 1px solid $border-dark;
    padding-bottom: 10px;
  }
  .control-btn {
    padding: 6px 10px;
    background-color: $bg-page;
    color: white;
    border: none;
    &:hover {
      background-color: $bg-page-on;
    }
    &:focus {
      outline: none;
    }
  }
  .analyst-controls {
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .controls-title {
    margin: 10px 0;
  }
  .query-title {
    margin-top: 0;
  }
  .rules-box {
    padding: 5px;
    overflow-y: auto;
    border: 1px solid $border-dark;
    height: calc(100vh - 200px);
  }
  .vert-section {
    padding: 5px 0;
  }
  .vert-row {
    padding-bottom: 5px;
    .label-select {
      select {
        min-width: 100px;
      }
    }
  }
  .add-del-row {
    display: grid;
    grid-template-columns: auto 160px;
    align-items: center;
  }
  .add-icon {
    color: $add-icon;
    cursor: pointer;
  }
  .del-icon {
    color: $warning-color;
    cursor: pointer;
  }
  .or-section {
    padding: 5px 0;
    margin-left: 20px;
    margin-top: 10px;
    background-color: $or-panel-color
  }
  .add-or {
    margin-left: 20px;
  }
  .add-and {
    margin-left: 20px;
    padding-top: 5px;
  }
  .add-left {
    padding-top: 5px;
  }
  .and-col {
    margin-left: 20px;
    margin-top: 5px;
    padding: 5px 0 5px 20px;
    border: 1px solid $border-dark;
    display: grid;
    grid-template-columns: auto 60px 80px;
    align-items: center;
    background-color: $and-panel-color;
    & input {
      width: 60px;
    }
  }
  .mn-col {
    margin-left: 10px;
    margin-right: 5px;
    border-bottom: 1px solid $border-dark;
    display: grid;
    grid-template-columns: 90px auto;
    align-items: end;
    .coefficient {
      margin-bottom: 5px;
    }
    & input {
      width: 60px;
    }
  }
  .mnval-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .mnval-col {
    margin-bottom: 5px;
    margin-right: 15px;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-gap: 10px;
    align-items: start;
    input {
      width: 40px;
    }
  }
  .join-section {
    padding-top: 10px;
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content;
    grid-gap: 10px;
    & select {
      min-width: 130px;
    }
  }
  .query-row {
    display: grid;
    grid-template-columns: auto 150px;
    align-items: center;
    margin-bottom: 10px;
    & h3 {
      margin-block-end: 0;
    }
  }
  .tab-l1 {
    margin-left: 10px;
  }
  .qf-order-row {
    display: grid;
    grid-template-columns: 180px min-content 90px 90px 80px;
    & .qf-val-input {
      width: 66px;
    }
  }
  .qf-moment-row {
    display: grid;
    grid-template-columns: 180px min-content 180px;
    & .qf-moment-type {
      width: 160px;
    }
  }
  .qf-generic-row {
    display: grid;
    grid-template-columns: 170px min-content minmax(250px, min-content);
    grid-gap: 10px;
  }
  .qf-add-icon {
    margin-top: 4px;
  }
  .vert-col {
    display: grid;
    grid-template-columns: minmax(120px, min-content) minmax(120px, min-content);
    & select {
      min-width: 110px;
    }
  }
} 