@import '../common/common.scss';

.header {
  height: $header-height;
  display: grid;
  grid-template-columns: calc(50% - 150px) auto;
  position: fixed;
  background-color: $bg-color;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid $border-color;
  z-index: 100;
  .logo-img {
    width: 150px;
  }
  .logo-text {
    font-size: 20px;
  }
  .title-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
  }
}
